.font {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-image: url(http://img10.deviantart.net/1928/i/2010/189/4/b/rubik__s_wallpaper_by_faybro.png);
    margin-left: 0;
    background-attachment: fixed;
}

#mainbox {
    background-color: rgba(124,94,222,0.6);
    width: 30em;
    height:auto;
    padding-left: 3em;
    margin: 0;
    color:#B8CBD1;
    border-top-right-radius: 20px;

    
}

p {    
    font-size: 20px;
    padding:10px
}

ul {
    font-size: 20px;
    padding:10px;
    margin-top: -10px;
    margin-left: 20px;
        
}

h1 {
    padding-top: 20px
}

#snoop {
    float:right;
}

#webinfo {
    font-size: 15px
}
#Background_music{
    display:none;
}

