.font {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-image:url(officialbackground.jpg);
    margin-left: 0;
    background-attachment: fixed;
    width:100%
    object-fit: cover;
}

#mainbox {
    background-color: rgba(124,94,222,0.6);
    width: 30em;
    height:auto;
    padding-left: 3em;
    margin: 0;
    color:#B8CBD1;
    border-top-right-radius: 20px;

    
}

p {    
    font-size: 20px;
    padding:10px
}

ul {
    font-size: 20px;
    padding:10px;
    margin-top: -10px;
    margin-left: 20px;
        
}

h1 {
    padding-top: 20px
}

#snoop {
    float:right;
}

#webinfo {
    font-size: 15px;
    text-align: center
}


#project {
	height: auto;
    width:55%;
    max-width: 55%;
	position: relative;
	float:right;
	bottom: 73em;
	background-color: rgba(124,94,222,0.7);
    text-align: center;
}
#gnome{
	position:fixed;
	bottom: 0px;
	left: 10px;
}
#Background_music {
    display:none;
	align-content: center;
}