.font {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin-left: 0;
	background: transparent url(officialbackground.jpg)  no-repeat center center fixed; !important;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
	font-size: 21px;
    line-height: 1.52;
	width: 50%;
    height: 70%;
}

#mainbox {
    background-color: rgba(124,94,222,0.6);
    width: 37%;
    height:auto;
    padding-left: 2.1em;
	margin: 0;
    color:#B8CBD1;
    border-top-right-radius: 20px;
	margin-top: 10%;
	position:absolute;
	margin-bottom:0%;

    
}

p {    
    font-size: 20px;
    padding:10px;
	line-height: 30px;
}

ul {
    font-size: 20px;
    padding:10px;
    margin-top: -10px;
    margin-left: 20px;
        
}

h1 {
    padding-top: 40px;
}

#snoop {
    float:right;
}

#webinfo {
    font-size: 15px;
    text-align: center
}


#project {
	height: auto;
	max-width: 100%;
	position: absolute;
	float:right;
	top:0;
	right:0;
	background-color: rgba(124,94,222,0.7);
    text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	color:#B8CBD1;
}


#Background_music {
    display:none;
	align-content: center;
}

#snoop {
	padding: 4%;
}

html {
    height: 100%;
    min-height: 100%;
}